odjfosdjfjisdo

{% block body %}

    <div id="content">
        <div class="col-md-12">
            <div class="row">
                <div class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Nom
                            </th>
                            <th>
                                Set 1
                            </th>
                            <th>
                                Set 2
                            </th>
                            <th>
                                Set 3
                            </th>
                            <th>
                                Set 4
                            </th>
                            <th>
                                Set 5
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for joueur in joueurs %}
                        <tr>
                            <td>
                                {{ joueur }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </div>
            </div>
        </div>
    </div>

{% endblock %}