{% extends 'base.html.twig' %}

{% block body %}
<div id="content" ng-app="grilleTournoi">

	<div class="col-lg-12" ng-controller="mainCtrl">
	<h1>Gestion des feuilles de tournoi</h1>
		<div class="row">
		{% verbatim %}
			<generate-grille></generate-grille>


			
		{% endverbatim %}

		</div>
	</div>
</div>
{% endblock %}