{% extends 'base.html.twig' %}

{% block body %}
	<div id="content">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-6">
					<ul class="list-group">
 					  <li class="list-group-item">
 					  	Mes derniers résultats
 					  </li>
					  <li class="list-group-item">
					  	<table class="table table-hover">
					  		<thead>
					  			<tr>
					  				<th>Num. licence</th>
					  				<th>Nom</th>
					  				<th>Prenom</th>
					  				<th>Classement</th>
					  				<th>Points gagnés/perdus</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>
					  				<td>+5</td>
					  			</tr>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>
					  				<td>+5</td>
					  			</tr>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>
					  				<td>+5</td>
					  			</tr>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>
					  				<td>+5</td>
					  			</tr>
					  		</tbody>
					  	</table>
					  </li>
					  
				</div>
				<div class="col-lg-6">
					<ul class="list-group">
 					  <li class="list-group-item">
 					  	Mon équipe : 
 					  </li>
					  <li class="list-group-item">
					  	<table class="table table-hover">
					  		<thead>
					  			<tr>
					  				<th>Num. licence</th>
					  				<th>Nom</th>
					  				<th>Prenom</th>
					  				<th>Classement</th>
					  			</tr>
					  		</thead>
					  		<tbody>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>					  				
					  			</tr>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>					  		
					  			</tr>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>					  		
					  			</tr>
					  			<tr>
					  				<td>595959</td>
					  				<td>Wallaert</td>
					  				<td>Kevin</td>
					  				<td>15</td>					  			
					  			</tr>
					  		</tbody>
					  	</table>
					  </li>
					  
				</div>
			</div>
		</div>
	</div>
{% endblock %}